@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #f6cdd9;
  color: black;
}

.y2k-button {
  background-color: hotpink;
  color: white;
  padding: 8px 10px;
  border-radius: 9999px;
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.font-pixel {
  font-family: 'Press Start 2P', cursive;
}

input,
textarea,
button,
select {
  font-family: 'Press Start 2P', cursive;
}

.pixelated {
  image-rendering: pixelated;
}

.delete-button {
  color: #a24d61;
  font-size: 5px;
  padding: 2px 4px;
  background-color: #fce1e6;
  transform: scaleX(1.2);
  border: 2px solid #a24d61;
  transition: color 0.2s, transform 0.1s;
}


/* Hover effect */
.delete-button:hover {
  color: #ef4444;
}

/* Active (when pressed) */
.delete-button:active {
  transform: scaleX(1.2) translate(1px, 1px);
}